#bivariate-header {
    display: flex;
    justify-content: space-between;
}

.bivariate-form-field {
    width: 100%;
}

#button-div {
    display: flex;
    justify-content: center;
}

#button {
    width: 200px;
}

#bivariateCard {
    margin: 5px;
    padding: 5px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #e0e0e0;
}

#bivariateCard mat-card-title a {
    color: #90caf9;
}

#bivariateCard p {
    color: #b0b0b0;
    font-size: 0.9em;
}
